 @mixin square {
  width: 80px; 
  height: 80px;  
 }

 @mixin imageBackground {
    background-image: url(../sfondo-header/sfondo-header.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
 }

 @mixin immaginiPerCarosello {
    height: 400px;
    width: 600px;
 }

 @mixin smallFont {
    font-size: 10px;
 }

