 @mixin square {
  width: 80px; 
  height: 80px;  
 }

 @mixin imageBackground {
    background-image: url(../sfondo/sfondo-header.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
 }


