// $primary : indigo;
// ^cosi si dichiara una variabile scss va importata prima di bootstrap in questo modo 
// le variabili che richiama butstrap con lo stesso nome non pora richiamarle

// $light: lighten($primary, 50%); schiarisce il colore primary
// $dark: darken(primary, 20%); scurisce il colore primary

$primary: indigo;  
$secondary: rgb(195, 0, 255);   
$success:    rgb(43, 0, 255);
$info:      rgb(0, 255, 47);
$warning:    yellow; 
$danger:   rgb(150, 150, 150);
$light:     white;    
$dark:      black;  